# DS PROJECT

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
data_path = 'ml-latest-small/ml-latest-small/'
movies_filename = 'movies.csv'
ratings_filename = 'ratings.csv'

In [5]:
# read data
df_movies = pd.read_csv(
    os.path.join(data_path, movies_filename),

    usecols=['movieId', 'title'],
    dtype={'movieId': 'int32', 'title': 'str'})

df_ratings = pd.read_csv(
    os.path.join(data_path, ratings_filename),
    usecols=['userId', 'movieId', 'rating'],
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [6]:
df_movies.head()
df_movies.shape

(9742, 2)

In [7]:
df_ratings.head()
df_ratings.shape

(100836, 3)

In [14]:
from scipy.sparse import csr_matrix
# pivot ratings into movie features
df_movie_features = df_ratings.pivot(
    index='movieId',
    columns='userId',
    values='rating'
)

In [15]:
df_movie_features

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
mat_movie_features = csr_matrix(df_movie_features.values)

In [9]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

In [10]:
num_users = len(df_ratings.userId.unique())
num_items = len(df_ratings.movieId.unique())
print('There are {} unique users and {} unique movies in this data set'.format(num_users, num_items))

There are 610 unique users and 9724 unique movies in this data set

In [11]:
# get count
df_ratings_cnt_tmp = pd.DataFrame(df_ratings.groupby('rating').size(), columns=['count'])
df_ratings_cnt_tmp

        count
rating
0.5      1370
1.0      2811
1.5      1791
2.0      7551
2.5      5550
3.0     20047
3.5     13136
4.0     26818
4.5      8551
5.0     13211

In [12]:
# there are a lot more counts in rating of zero
total_cnt = num_users * num_items
rating_zero_cnt = total_cnt - df_ratings.shape[0]
      
df_ratings_cnt = df_ratings_cnt_tmp.append(
    pd.DataFrame({'count': rating_zero_cnt}, index=[0.0]),
    verify_integrity=True,
).sort_index()
df_ratings_cnt

       count
0.0  5830804
0.5     1370
1.0     2811
1.5     1791
2.0     7551
2.5     5550
3.0    20047
3.5    13136
4.0    26818
4.5     8551
5.0    13211

In [13]:
# #log normalise to make it easier to interpret on a graph
# import numpy as np
# df_ratings_cnt['log_count'] = np.log(df_ratings_cnt['count'])
# df_ratings_cnt

In [14]:
# import matplotlib.pyplot as plt
# !--plt.style.use('ggplot')

# %matplotlib inline
# ax = df_ratings_cnt[['count']].reset_index().rename(columns={'index': 'rating score'}).plot(
#     x='rating score',
#     y='count',
#     kind='bar',
#     figsize=(12, 8),
#     title='Count for Each Rating Score (in Log Scale)',
#     logy=True,
#     fontsize=12,
# )
# ax.set_xlabel("movie rating score")
# ax.set_ylabel("number of ratings")--!

In [15]:
# get rating frequency
#number of ratings each movie got.
df_movies_cnt = pd.DataFrame(df_ratings.groupby('movieId').size(), columns=['count'])
df_movies_cnt.head()

         count
movieId
1          215
2          110
3           52
4            7
5           49

In [16]:
#now we need to take only movies that have been rated atleast 50 times to get some idea of the reactions of users towards it

popularity_thres = 50
popular_movies = list(set(df_movies_cnt.query('count >= @popularity_thres').index))
df_ratings_drop_movies = df_ratings[df_ratings.movieId.isin(popular_movies)]
print('shape of original ratings data: ', df_ratings.shape)
print('shape of ratings data after dropping unpopular movies: ', df_ratings_drop_movies.shape)

shape of original ratings data:  (100836, 3)
shape of ratings data after dropping unpopular movies:  (41360, 3)

In [17]:
# get number of ratings given by every user
df_users_cnt = pd.DataFrame(df_ratings_drop_movies.groupby('userId').size(), columns=['count'])
df_users_cnt.head()

        count
userId
1         117
2          15
3           6
4          84
5          34

In [18]:
# filter data to come to an approximation of user likings.
ratings_thres = 50
active_users = list(set(df_users_cnt.query('count >= @ratings_thres').index))
df_ratings_drop_users = df_ratings_drop_movies[df_ratings_drop_movies.userId.isin(active_users)]
print('shape of original ratings data: ', df_ratings.shape)
print('shape of ratings data after dropping both unpopular movies and inactive users: ', df_ratings_drop_users.shape)

shape of original ratings data:  (100836, 3)
shape of ratings data after dropping both unpopular movies and inactive users:  (32999, 3)

In [19]:
# pivot and create movie-user matrix
movie_user_mat = df_ratings_drop_users.pivot(index='movieId', columns='userId', values='rating').fillna(0)
#map movie titles to images
movie_to_idx = {
    movie: i for i, movie in 
    enumerate(list(df_movies.set_index('movieId').loc[movie_user_mat.index].title))
}
# transform matrix to scipy sparse matrix
movie_user_mat_sparse = csr_matrix(movie_user_mat.values)

In [20]:
movie_user_mat_sparse

<450x268 sparse matrix of type '<class 'numpy.float32'>'
	with 32999 stored elements in Compressed Sparse Row format>

In [21]:
# define model
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

# fit
model_knn.fit(movie_user_mat_sparse)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=20)

In [22]:
from fuzzywuzzy import fuzz

c:\users\aniklalani\appdata\local\programs\python\python38\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [23]:
def fuzzy_matching(mapper, fav_movie, verbose=True):

    match_tuple = []
    # get match
    for title, idx in mapper.items():
        ratio = fuzz.ratio(title.lower(), fav_movie.lower())
        if ratio >= 60:
            match_tuple.append((title, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]

In [24]:
def make_recommendation(model_knn, data, mapper, fav_movie, n_recommendations):
    
    # fit
    model_knn.fit(data)
    # get input movie index
    print('You have input movie:', fav_movie)
    idx = fuzzy_matching(mapper, fav_movie, verbose=True)
    
    print('Recommendation system start to make inference')
    print('......\n')
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    
    raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_movie))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_mapper[idx], dist))

In [25]:
my_favorite = 'Desperado'

make_recommendation(
    model_knn=model_knn,
    data=movie_user_mat_sparse,
    fav_movie=my_favorite,
    mapper=movie_to_idx,
    n_recommendations=5)

You have input movie: Desperado
Found possible matches in our database: ['Desperado (1995)']

Recommendation system start to make inference
......

Recommendations for Desperado:
1: Dumb & Dumber (Dumb and Dumber) (1994), with distance of 0.5218513011932373
2: Léon: The Professional (a.k.a. The Professional) (Léon) (1994), with distance of 0.5217777490615845
3: Independence Day (a.k.a. ID4) (1996), with distance of 0.5216823220252991
4: Heat (1995), with distance of 0.4984148144721985
5: True Lies (1994), with distance of 0.4816553592681885

In [26]:
movie_to_idx

{'Toy Story (1995)': 0,
 'Jumanji (1995)': 1,
 'Grumpier Old Men (1995)': 2,
 'Heat (1995)': 3,
 'Sabrina (1995)': 4,
 'GoldenEye (1995)': 5,
 'American President, The (1995)': 6,
 'Casino (1995)': 7,
 'Sense and Sensibility (1995)': 8,
 'Ace Ventura: When Nature Calls (1995)': 9,
 'Get Shorty (1995)': 10,
 'Leaving Las Vegas (1995)': 11,
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)': 12,
 'Babe (1995)': 13,
 'Dead Man Walking (1995)': 14,
 'Clueless (1995)': 15,
 'Seven (a.k.a. Se7en) (1995)': 16,
 'Pocahontas (1995)': 17,
 'Usual Suspects, The (1995)': 18,
 "Mr. Holland's Opus (1995)": 19,
 'From Dusk Till Dawn (1996)': 20,
 'Broken Arrow (1996)': 21,
 'Happy Gilmore (1996)': 22,
 'Braveheart (1995)': 23,
 'Taxi Driver (1976)': 24,
 'Birdcage, The (1996)': 25,
 'Bad Boys (1995)': 26,
 'Apollo 13 (1995)': 27,
 'Batman Forever (1995)': 28,
 'Casper (1995)': 29,
 'Congo (1995)': 30,
 'Crimson Tide (1995)': 31,
 'Desperado (1995)': 32,
 'Die Hard: With a Vengeance (1995)': 33,
 'First Knight (1995)': 34,
 'Johnny Mnemonic (1995)': 35,
 'Judge Dredd (1995)': 36,
 'Net, The (1995)': 37,
 'Waterworld (1995)': 38,
 'Clerks (1994)': 39,
 'Disclosure (1994)': 40,
 'Dumb & Dumber (Dumb and Dumber) (1994)': 41,
 'Ed Wood (1994)': 42,
 'Interview with the Vampire: The Vampire Chronicles (1994)': 43,
 'Star Wars: Episode IV - A New Hope (1977)': 44,
 'Legends of the Fall (1994)': 45,
 'Natural Born Killers (1994)': 46,
 'Outbreak (1995)': 47,
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)': 48,
 'Pulp Fiction (1994)': 49,
 'Quiz Show (1994)': 50,
 'Stargate (1994)': 51,
 'Santa Clause, The (1994)': 52,
 'Shawshank Redemption, The (1994)': 53,
 'Star Trek: Generations (1994)': 54,
 'Tommy Boy (1995)': 55,
 "What's Eating Gilbert Grape (1993)": 56,
 'While You Were Sleeping (1995)': 57,
 'Ace Ventura: Pet Detective (1994)': 58,
 'Clear and Present Danger (1994)': 59,
 'Client, The (1994)': 60,
 'Crow, The (1994)': 61,
 'Forrest Gump (1994)': 62,
 'Four Weddings and a Funeral (1994)': 63,
 'Lion King, The (1994)': 64,
 'Mask, The (1994)': 65,
 'Maverick (1994)': 66,
 'Naked Gun 33 1/3: The Final Insult (1994)': 67,
 'Speed (1994)': 68,
 'True Lies (1994)': 69,
 'Addams Family Values (1993)': 70,
 'Beverly Hills Cop III (1994)': 71,
 "City Slickers II: The Legend of Curly's Gold (1994)": 72,
 'Cliffhanger (1993)': 73,
 'Coneheads (1993)': 74,
 'Dave (1993)': 75,
 'Demolition Man (1993)': 76,
 'Firm, The (1993)': 77,
 'Fugitive, The (1993)': 78,
 'Hot Shots! Part Deux (1993)': 79,
 'In the Line of Fire (1993)': 80,
 'Jurassic Park (1993)': 81,
 'Last Action Hero (1993)': 82,
 'Mrs. Doubtfire (1993)': 83,
 'Philadelphia (1993)': 84,
 'Piano, The (1993)': 85,
 'Robin Hood: Men in Tights (1993)': 86,
 "Schindler's List (1993)": 87,
 'Sleepless in Seattle (1993)': 88,
 'Blade Runner (1982)': 89,
 'Nightmare Before Christmas, The (1993)': 90,
 'Three Musketeers, The (1993)': 91,
 'Tombstone (1993)': 92,
 'True Romance (1993)': 93,
 'Home Alone (1990)': 94,
 'Ghost (1990)': 95,
 'Aladdin (1992)': 96,
 'Terminator 2: Judgment Day (1991)': 97,
 'Dances with Wolves (1990)': 98,
 'Batman (1989)': 99,
 'Silence of the Lambs, The (1991)': 100,
 'Snow White and the Seven Dwarfs (1937)': 101,
 'Beauty and the Beast (1991)': 102,
 'Pinocchio (1940)': 103,
 'Pretty Woman (1990)': 104,
 'Fargo (1996)': 105,
 'Mission: Impossible (1996)': 106,
 'Dragonheart (1996)': 107,
 'Space Jam (1996)': 108,
 'Truth About Cats & Dogs, The (1996)': 109,
 'Rock, The (1996)': 110,
 'Twister (1996)': 111,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)': 112,
 'Trainspotting (1996)': 113,
 'Independence Day (a.k.a. ID4) (1996)': 114,
 'Cable Guy, The (1996)': 115,
 'Eraser (1996)': 116,
 'Nutty Professor, The (1996)': 117,
 'Godfather, The (1972)': 118,
 'Vertigo (1958)': 119,
 'Rear Window (1954)': 120,
 'North by Northwest (1959)': 121,
 'Some Like It Hot (1959)': 122,
 'Casablanca (1942)': 123,
 'Wizard of Oz, The (1939)': 124,
 'Citizen Kane (1941)': 125,
 '2001: A Space Odyssey (1968)': 126,
 "It's a Wonderful Life (1946)": 127,
 'Mary Poppins (1964)': 128,
 'Sound of Music, The (1965)': 129,
 'Die Hard (1988)': 130,
 'Willy Wonka & the Chocolate Factory (1971)': 131,
 'Fish Called Wanda, A (1988)': 132,
 "Monty Python's Life of Brian (1979)": 133,
 'Reservoir Dogs (1992)': 134,
 'Platoon (1986)': 135,
 'E.T. the Extra-Terrestrial (1982)': 136,
 'Top Gun (1986)': 137,
 'Abyss, The (1989)': 138,
 'Monty Python and the Holy Grail (1975)': 139,
 'Wallace & Gromit: The Wrong Trousers (1993)': 140,
 "One Flew Over the Cuckoo's Nest (1975)": 141,
 'Star Wars: Episode V - The Empire Strikes Back (1980)': 142,
 'Princess Bride, The (1987)': 143,
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)': 144,
 'Brazil (1985)': 145,
 'Aliens (1986)': 146,
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)': 147,
 '12 Angry Men (1957)': 148,
 'Clockwork Orange, A (1971)': 149,
 'To Kill a Mockingbird (1962)': 150,
 'Apocalypse Now (1979)': 151,
 'Star Wars: Episode VI - Return of the Jedi (1983)': 152,
 'Goodfellas (1990)': 153,
 'Alien (1979)': 154,
 'Army of Darkness (1993)': 155,
 'Psycho (1960)': 156,
 'Blues Brothers, The (1980)': 157,
 'Godfather: Part II, The (1974)': 158,
 'Full Metal Jacket (1987)': 159,
 'Amadeus (1984)': 160,
 'Annie Hall (1977)': 161,
 'Sting, The (1973)': 162,
 'Terminator, The (1984)': 163,
 'Dead Poets Society (1989)': 164,
 'Graduate, The (1967)': 165,
 'Chinatown (1974)': 166,
 'Shining, The (1980)': 167,
 'Stand by Me (1986)': 168,
 'Groundhog Day (1993)': 169,
 'Back to the Future (1985)': 170,
 'Cool Hand Luke (1967)': 171,
 'Young Frankenstein (1974)': 172,
 'Fantasia (1940)': 173,
 'This Is Spinal Tap (1984)': 174,
 'Indiana Jones and the Last Crusade (1989)': 175,
 'Field of Dreams (1989)': 176,
 'Butch Cassidy and the Sundance Kid (1969)': 177,
 'When Harry Met Sally... (1989)': 178,
 'Star Trek: First Contact (1996)': 179,
 'Die Hard 2 (1990)': 180,
 'Star Trek II: The Wrath of Khan (1982)': 181,
 'Batman Returns (1992)': 182,
 'Grease (1978)': 183,
 'Jaws (1975)': 184,
 'Mars Attacks! (1996)': 185,
 'Jerry Maguire (1996)': 186,
 'Raising Arizona (1987)': 187,
 'Scream (1996)': 188,
 'Donnie Brasco (1997)': 189,
 'Liar Liar (1997)': 190,
 'Grosse Pointe Blank (1997)': 191,
 'Austin Powers: International Man of Mystery (1997)': 192,
 'Fifth Element, The (1997)': 193,
 'Lost World: Jurassic Park, The (1997)': 194,
 'Con Air (1997)': 195,
 'Face/Off (1997)': 196,
 'Men in Black (a.k.a. MIB) (1997)': 197,
 'Contact (1997)': 198,
 'Air Force One (1997)': 199,
 'Hunt for Red October, The (1990)': 200,
 'L.A. Confidential (1997)': 201,
 'Game, The (1997)': 202,
 'Chasing Amy (1997)': 203,
 'Full Monty, The (1997)': 204,
 "The Devil's Advocate (1997)": 205,
 'Gattaca (1997)': 206,
 'Starship Troopers (1997)': 207,
 'Truman Show, The (1998)': 208,
 'Good Will Hunting (1997)': 209,
 'Titanic (1997)': 210,
 'Big Lebowski, The (1998)': 211,
 'Wedding Singer, The (1998)': 212,
 'As Good as It Gets (1997)': 213,
 'Armageddon (1998)': 214,
 "There's Something About Mary (1998)": 215,
 'Rocky (1976)': 216,
 'Rain Man (1988)': 217,
 'Breakfast Club, The (1985)': 218,
 'Exorcist, The (1973)': 219,
 'Lethal Weapon (1987)': 220,
 'Goonies, The (1985)': 221,
 'Mask of Zorro, The (1998)': 222,
 'Back to the Future Part II (1989)': 223,
 'Back to the Future Part III (1990)': 224,
 'Saving Private Ryan (1998)': 225,
 'Honey, I Shrunk the Kids (1989)': 226,
 'Jungle Book, The (1967)': 227,
 'Lady and the Tramp (1955)': 228,
 'Little Mermaid, The (1989)': 229,
 'Splash (1984)': 230,
 'Tron (1982)': 231,
 'Indiana Jones and the Temple of Doom (1984)': 232,
 'Blade (1998)': 233,
 'Beetlejuice (1988)': 234,
 'Untouchables, The (1987)': 235,
 'Few Good Men, A (1992)': 236,
 'Edward Scissorhands (1990)': 237,
 'My Cousin Vinny (1992)': 238,
 'Pleasantville (1998)': 239,
 'Life Is Beautiful (La Vita è bella) (1997)': 240,
 'American History X (1998)': 241,
 'Enemy of the State (1998)': 242,
 "Bug's Life, A (1998)": 243,
 'Rushmore (1998)': 244,
 'Shakespeare in Love (1998)': 245,
 'Romancing the Stone (1984)': 246,
 "You've Got Mail (1998)": 247,
 'Crocodile Dundee (1986)': 248,
 'Office Space (1999)': 249,
 'Planet of the Apes (1968)': 250,
 'Lock, Stock & Two Smoking Barrels (1998)': 251,
 'Matrix, The (1999)': 252,
 '10 Things I Hate About You (1999)': 253,
 'Election (1999)': 254,
 'Mummy, The (1999)': 255,
 'Star Wars: Episode I - The Phantom Menace (1999)': 256,
 'Superman (1978)': 257,
 'Rocky Horror Picture Show, The (1975)': 258,
 'Notting Hill (1999)': 259,
 'Austin Powers: The Spy Who Shagged Me (1999)': 260,
 'Run Lola Run (Lola rennt) (1998)': 261,
 'Arachnophobia (1990)': 262,
 'South Park: Bigger, Longer and Uncut (1999)': 263,
 'Wild Wild West (1999)': 264,
 'American Pie (1999)': 265,
 'Blair Witch Project, The (1999)': 266,
 'Eyes Wide Shut (1999)': 267,
 'Ghostbusters (a.k.a. Ghost Busters) (1984)': 268,
 'Sixth Sense, The (1999)': 269,
 'Airplane! (1980)': 270,
 'Big (1988)': 271,
 'Christmas Story, A (1983)': 272,
 'American Beauty (1999)': 273,
 'Total Recall (1990)': 274,
 "Ferris Bueller's Day Off (1986)": 275,
 'Goldfinger (1964)': 276,
 'Fight Club (1999)': 277,
 'RoboCop (1987)': 278,
 'Who Framed Roger Rabbit? (1988)': 279,
 'Being John Malkovich (1999)': 280,
 'Spaceballs (1987)': 281,
 'Dogma (1999)': 282,
 'Sleepy Hollow (1999)': 283,
 'Toy Story 2 (1999)': 284,
 'Green Mile, The (1999)': 285,
 'Magnolia (1999)': 286,
 'Galaxy Quest (1999)': 287,
 "Wayne's World (1992)": 288,
 'Erin Brockovich (2000)': 289,
 'Animal House (1978)': 290,
 'Close Encounters of the Third Kind (1977)': 291,
 'High Fidelity (2000)': 292,
 'Hook (1991)': 293,
 'Predator (1987)': 294,
 'American Psycho (2000)': 295,
 'Caddyshack (1980)': 296,
 'Gladiator (2000)': 297,
 'Mission: Impossible II (2000)': 298,
 'Blazing Saddles (1974)': 299,
 'Gone in 60 Seconds (2000)': 300,
 'Chicken Run (2000)': 301,
 'Patriot, The (2000)': 302,
 'Scary Movie (2000)': 303,
 'X-Men (2000)': 304,
 'Almost Famous (2000)': 305,
 'Best in Show (2000)': 306,
 'Meet the Parents (2000)': 307,
 'Requiem for a Dream (2000)': 308,
 "Charlie's Angels (2000)": 309,
 'Unbreakable (2000)': 310,
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)': 311,
 'Snatch (2000)': 312,
 'What Women Want (2000)': 313,
 'Cast Away (2000)': 314,
 'Miss Congeniality (2000)': 315,
 'O Brother, Where Art Thou? (2000)': 316,
 'Traffic (2000)': 317,
 'Memento (2000)': 318,
 'Blow (2001)': 319,
 "Bridget Jones's Diary (2001)": 320,
 'Scarface (1983)': 321,
 'Shrek (2001)': 322,
 'Moulin Rouge (2001)': 323,
 'A.I. Artificial Intelligence (2001)': 324,
 'Legally Blonde (2001)': 325,
 'Others, The (2001)': 326,
 'Training Day (2001)': 327,
 'Zoolander (2001)': 328,
 'Mulholland Drive (2001)': 329,
 'Donnie Darko (2001)': 330,
 'Monsters, Inc. (2001)': 331,
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)": 332,
 "Ocean's Eleven (2001)": 333,
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)": 334,
 'Royal Tenenbaums, The (2001)': 335,
 'Lord of the Rings: The Fellowship of the Ring, The (2001)': 336,
 'Beautiful Mind, A (2001)': 337,
 'Black Hawk Down (2001)': 338,
 'Ice Age (2002)': 339,
 'My Big Fat Greek Wedding (2002)': 340,
 'Spider-Man (2002)': 341,
 'Star Wars: Episode II - Attack of the Clones (2002)': 342,
 'Bourne Identity, The (2002)': 343,
 'Minority Report (2002)': 344,
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)': 345,
 'Austin Powers in Goldmember (2002)': 346,
 'Signs (2002)': 347,
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)': 348,
 'Bowling for Columbine (2002)': 349,
 'Harry Potter and the Chamber of Secrets (2002)': 350,
 'Lord of the Rings: The Two Towers, The (2002)': 351,
 'Gangs of New York (2002)': 352,
 'Catch Me If You Can (2002)': 353,
 'City of God (Cidade de Deus) (2002)': 354,
 'X2: X-Men United (2003)': 355,
 'Matrix Reloaded, The (2003)': 356,
 'Bruce Almighty (2003)': 357,
 'Finding Nemo (2003)': 358,
 'Italian Job, The (2003)': 359,
 '28 Days Later (2002)': 360,
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)': 361,
 'Lost in Translation (2003)': 362,
 'School of Rock (2003)': 363,
 'Mystic River (2003)': 364,
 'Kill Bill: Vol. 1 (2003)': 365,
 'Matrix Revolutions, The (2003)': 366,
 'Love Actually (2003)': 367,
 'Last Samurai, The (2003)': 368,
 'Big Fish (2003)': 369,
 'Lord of the Rings: The Return of the King, The (2003)': 370,
 'Eternal Sunshine of the Spotless Mind (2004)': 371,
 'Kill Bill: Vol. 2 (2004)': 372,
 'Shrek 2 (2004)': 373,
 'Day After Tomorrow, The (2004)': 374,
 'Harry Potter and the Prisoner of Azkaban (2004)': 375,
 'Super Size Me (2004)': 376,
 'Spider-Man 2 (2004)': 377,
 'Anchorman: The Legend of Ron Burgundy (2004)': 378,
 'I, Robot (2004)': 379,
 'Bourne Supremacy, The (2004)': 380,
 'Shaun of the Dead (2004)': 381,
 'Incredibles, The (2004)': 382,
 'Million Dollar Baby (2004)': 383,
 'Charlie and the Chocolate Factory (2005)': 384,
 'Sin City (2005)': 385,
 'Crash (2004)': 386,
 'Star Wars: Episode III - Revenge of the Sith (2005)': 387,
 'Mr. & Mrs. Smith (2005)': 388,
 'Batman Begins (2005)': 389,
 'War of the Worlds (2005)': 390,
 'Wedding Crashers (2005)': 391,
 'Serenity (2005)': 392,
 '40-Year-Old Virgin, The (2005)': 393,
 'Harry Potter and the Goblet of Fire (2005)': 394,
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)': 395,
 'V for Vendetta (2006)': 396,
 'X-Men: The Last Stand (2006)': 397,
 "Pirates of the Caribbean: Dead Man's Chest (2006)": 398,
 'Little Miss Sunshine (2006)': 399,
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)': 400,
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)": 401,
 'Departed, The (2006)': 402,
 'Children of Men (2006)': 403,
 'Prestige, The (2006)': 404,
 'Casino Royale (2006)': 405,
 'Blood Diamond (2006)': 406,
 'Ratatouille (2007)': 407,
 'Hot Fuzz (2007)': 408,
 '300 (2007)': 409,
 'Knocked Up (2007)': 410,
 "Pirates of the Caribbean: At World's End (2007)": 411,
 'Harry Potter and the Order of the Phoenix (2007)': 412,
 'Bourne Ultimatum, The (2007)': 413,
 'Superbad (2007)': 414,
 'No Country for Old Men (2007)': 415,
 'I Am Legend (2007)': 416,
 'Juno (2007)': 417,
 'Dark Knight, The (2008)': 418,
 'Iron Man (2008)': 419,
 'Kung Fu Panda (2008)': 420,
 'WALL·E (2008)': 421,
 'Slumdog Millionaire (2008)': 422,
 'Inglourious Basterds (2009)': 423,
 'Star Trek (2009)': 424,
 'Up (2009)': 425,
 'Hangover, The (2009)': 426,
 'Harry Potter and the Half-Blood Prince (2009)': 427,
 'District 9 (2009)': 428,
 'Zombieland (2009)': 429,
 'Avatar (2009)': 430,
 'Sherlock Holmes (2009)': 431,
 'Shutter Island (2010)': 432,
 'How to Train Your Dragon (2010)': 433,
 'Toy Story 3 (2010)': 434,
 'Inception (2010)': 435,
 'Social Network, The (2010)': 436,
 "King's Speech, The (2010)": 437,
 'Harry Potter and the Deathly Hallows: Part 2 (2011)': 438,
 'Avengers, The (2012)': 439,
 'The Hunger Games (2012)': 440,
 'Dark Knight Rises, The (2012)': 441,
 'Skyfall (2012)': 442,
 'Django Unchained (2012)': 443,
 'Wolf of Wall Street, The (2013)': 444,
 'Grand Budapest Hotel, The (2014)': 445,
 'Interstellar (2014)': 446,
 'Guardians of the Galaxy (2014)': 447,
 'The Imitation Game (2014)': 448,
 'Deadpool (2016)': 449}

# Rating Prediction and Movie Recommendation specific for each users

In [16]:
df_movie_features

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# df_movie_features_predicted[1][3] #df_movie_feature[userId][movieId]

Normalising the movie rating for each movie

In [17]:
mean = np.nanmean(df_movie_features, axis=1)
df_subtracted = (df_movie_features.T - mean).T

In [18]:
df_subtracted

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.079070,NaN,NaN,NaN,0.07907,NaN,0.57907,NaN,NaN,NaN,...,0.07907,NaN,0.07907,-0.920930,0.079070,-1.42093,0.07907,-1.420930,-0.92093,1.07907
2,NaN,NaN,NaN,NaN,NaN,0.568182,NaN,0.568182,NaN,NaN,...,NaN,0.568182,NaN,1.568182,0.068182,NaN,NaN,-1.431818,NaN,NaN
3,0.740385,NaN,NaN,NaN,NaN,1.740385,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.259615,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,0.642857,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,1.928571,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.071429,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
from scipy.spatial.distance import cosine

def sim(rowid):
    datasetI = df_subtracted.fillna(0).T[rowid].array
    a = []
    for x in range(0,9724):
        a.append(1 - cosine(datasetI, df_subtracted.fillna(0).iloc[x]))
    return a

In [20]:
def Cosine_similarity(rowId):
    df_movie_features['Similarity'] = sim(rowId)
    df_movie_features

In [22]:
#Cosine_similarity(318)

c:\users\aniklalani\appdata\local\programs\python\python38\lib\site-packages\scipy\spatial\distance.py:728: RuntimeWarning: invalid value encountered in float_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

In [25]:
# df_movie_features_sorted = df_movie_features.sort_values(by=['Similarity'], ascending=False)
# df_movie_features_sorted.fillna(0)

userId,1,2,3,4,5,6,7,8,9,10,...,602,603,604,605,606,607,608,609,610,Similarity
movieId,,,,,,,,,,,,,,,,,,,,,
318,0.0,3.0,0.0,0.0,3.0,5.0,0.0,5.0,0.0,0.0,...,5.0,0.0,0.0,0.0,3.5,5.0,4.5,4.0,3.0,1.000000
50,5.0,0.0,0.0,0.0,4.0,1.0,4.5,5.0,0.0,0.0,...,5.0,0.0,0.0,0.0,4.5,0.0,4.5,0.0,4.0,0.264785
71033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.259296
904,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,4.5,0.0,0.0,0.0,5.0,0.233456
95377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.219131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [26]:
#df_movie_features_sorted.fillna(0).iloc[1]['Similarity']

0.2647849917411804

In [529]:
#df_movie_features_predicted_sorted.iloc[1]['Similarity'] ## [movierow -1][userId]

In [24]:
def pred_rating(userId):
    numerator = ((df_movie_features_sorted.fillna(0).iloc[1]['Similarity'] * df_movie_features_sorted.fillna(0).iloc[1][userId]) + (df_movie_features_sorted.fillna(0).iloc[2]['Similarity'] * df_movie_features_sorted.fillna(0).iloc[2][userId])) 
    denomerator = (df_movie_features_sorted.fillna(0).iloc[1]['Similarity'] + df_movie_features_sorted.fillna(0).iloc[2]['Similarity'])
    final = numerator / denomerator
    return final

In [32]:
#df_movie_features.fillna(0)[1][318]

0.0

In [33]:
#Final Rating prediction and Movie Recommendation (Main part to run)
userId = int(input('userId :'))
movieId = int(input('movieId to rate:'))
recommendation = int(input('number of movies recommendation:'))

rating_pre = str(df_movie_features.fillna(0)[userId][movieId])
#print('Already present rating {0}'.format(rating_pre))

if(rating_pre != '0.0'):
    print('Rating for this movieId {0} is already present by this user {1} ,which is {2}'.format(movieId ,userId, rating_pre))
else:
    Cosine_similarity(movieId)
    df_movie_features_sorted = df_movie_features.sort_values(by=['Similarity'], ascending=False)
    pred = pred_rating(userId)
    print('The system predicted the rating of {0}'.format(pred))
    answer = input('Are you okay with this prediction y/n? ')
    if(answer) == 'y':
        df_movie_features[userId][movieId] = pred
    else:
        user_rating = input('Enter your rating:')
        df_movie_features[userId][movieId] = user_rating

Cosine_similarity(movieId)
df_movie_features_sorted = df_movie_features.sort_values(by=['Similarity'], ascending=False)
index = df_movie_features_sorted.index
a = []
for x in range(1,recommendation+1):
        a.append(index[x])
#print(a)
df_movies[df_movies.movieId.isin(a)]

userId :1
movieId to rate:318
number of movies recommendation:5
The system predicted the rating of nan
Are you okay with this prediction y/n? n
Enter your rating:3

<ipython-input-33-d0c560b18a2d>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_features[userId][movieId] = user_rating

      movieId                                              title
46         50                         Usual Suspects, The (1995)
686       904                                 Rear Window (1954)
7118    71033  Secret in Their Eyes, The (El secreto de sus o...
7802    92259                                Intouchables (2011)
7919    95377                                One Man Band (2005)

In [34]:
df_movie_features = df_movie_features.drop(columns=['Similarity'])

In [35]:
from scipy.sparse import csr_matrix
# pivot ratings into movie features
df_movie_features_truth = df_ratings.pivot(
    index='movieId',
    columns='userId',
    values='rating'
).fillna(0)
df_movie_features_truth

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df_movie_features.fillna(0)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [526]:
#RMSE
from sklearn.metrics import mean_squared_error
from math import sqrt

prediction = df_movie_features.fillna(0).to_numpy()
truth = df_movie_features_truth.to_numpy()
rmse = mean_squared_error(truth, prediction,squared=False)
print(rmse)
# raw = mean_squared_error(truth, prediction, multioutput='raw_values')
# print(raw)

0.79871917

In [37]:
#Precision (To check whether prediction is correct / how much correct) --> not tested yet

def precision (userId, MovieId):
    df_movie_features[userId][movieId] = 0
    Cosine_similarity(movieId)
    df_movie_features_sorted = df_movie_features.sort_values(by=['Similarity'], ascending=False)
    pred = pred_rating(userId)
    print('system predicted value is {0}'.format(pred))
    answer = input('Are you okay with this prediction y/n? ')
    if(answer) == 'y':
        df_movie_features[userId][movieId] = pred
    else:
        user_rating = input('Enter your rating:')
        df_movie_features[userId][movieId] = user_rating

In [39]:
df_movie_features.fillna(0)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_movie_features.fillna(0)
userId = int(input('userId:'))
movieId = int(input('movieId:'))
    
precision(userId,movieId)

userId:601
userId:1

c:\users\aniklalani\appdata\local\programs\python\python38\lib\site-packages\scipy\spatial\distance.py:728: RuntimeWarning: invalid value encountered in float_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)